@model IEnumerable<TransportModel>

@{
    ViewBag.Title = "ListTransports";
}

<h2>List of Transports</h2>

<p>
    @Html.ActionLink("Create New", "ReservateTransport")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Datum)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.VrstaTransporta)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.KolicinaTransportneRobe)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.VrstaVozila)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Datum)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.VrstaTransporta)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.KolicinaTransportneRobe)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.VrstaVozila)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Id }) |
            @Html.ActionLink("Details", "Details", new { id=item.Id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Id })
        </td>
    </tr>
}

</table>
